
/////////////////////////////////////
// self color pattern
$mWhite: #FAFAFA;
$mBlue: #8FACFF;
$sBlue: #BBDEFB;
$mYellow: #FFCC3E;
$mPink: #E34BA7;
$mGrey: #FAFAFA;

/////////////////////////////////////
// slef bg color set
.bg-mWhite{
  background-color: $mWhite !important;
}
.bg-true-White{
  background-color: white !important;
}
.bg-mBlue{
  background-color: $mBlue !important;
}
.bg-mYellow{
  background-color: $mYellow !important;
}
.bg-mPink{
  background-color: $mPink !important;
}
.opacity-8{
  opacity: 0.8;
}
.opacity-9{
  opacity: 0.97;
}

/////////////////////////////////////
// text color
.text-white{
  color: $mWhite !important;
}
.text-black{
  color: black !important;
}

/////////////////////////////////////
// page size
.vh-100{
  height: 100vh;
}
/////////////////////////////////////
// icon size
.icon-size{
  width: 35px;
  height: 35px;
}
.icon-m-size {
  width: 25px;
  height: 25px;
}
.icon-s-size{
  width: 20px;
  height: 20px;
}


/////////////////////////////////////
// pointer
.click {
  cursor: pointer;
}

/////////////////////////////////////
// sticky
.sticky-home{
  position: sticky;
  bottom: 2vh;
}

/////////////////////////////////////
// alert
:host ::ng-deep .alert {
  // margin-top: 8vh;
  position: absolute !important;
  width: 100%;
  top: 0;
  z-index: 10000;
}
.alert {
  // margin-top: 2vh;
  position: absolute !important;
  width: 100%;
  right: 0;
  top: 0;
  z-index: 10000;
  font-size: 1rem;
  .close{
    font-size: 1rem;
  }
}

/////////////////////////////////////
// modal
.modal-md {
  max-width: 1000px !important;
  width: 1000px !important;
}
.modal-msd {
  max-width: 800px !important;
  width: 800px !important;
}

.modal-md-sm {
  max-width: 800px !important;
  width: 800px !important;
}

/////////////////////////////////////
// h-30-scroll
.h-30-scroll {
  height: 30vh;
  overflow: auto;
}

.h-40-scroll {
  height: 40vh;
  overflow: auto;
}

.h-60-scroll {
  height: 60vh;
  overflow: auto;
}
.h-70-scroll {
  height: 70vh;
  overflow: auto;
}
.h-75-scroll {
  height: 75vh;
  overflow: auto;
}
.h-80-scroll {
  height: 80vh;
  overflow: auto;
}

/////////////////////////////////////

.ag-header-cell-filtered {
  background-color: #1b6d85 !important;
  color: #fff !important;
}

.ag-header-cell-filtered span {
  color: #fff !important;
}
/////////////////////////////////////
// disable select text
.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}




