<div class="">
  <div class="container mt-4">
   <div class="col-md-12 text-center disable-text-selection">
      <h2 class="h3">EXPERIENCE 經歷</h2>
   </div>
   <div class="col-md-12 mt-4">
      <div class="input-group mb-3 disable-text-selection">
        <div class="input-group-prepend transparent">
          <span class="input-group-text transparent" id="basic-addon1">
            <img [src]="searchImage" alt="..." class=" img-fluid icon-s-size">
          </span>
        </div>
        <!-- <input type="text" class="form-control" aria-label="search experience"> -->
        <div class="col-md-12 form-control input-tag">
          <span class="badge badge-secondary mr-1 font-md click"
          [class.badge-dark]="item.ifClick"
          *ngFor="let item of searchType" (click)="clickTool(item)">
            {{item.toolName}}
          </span>
        </div>
         <div class="input-group-prepend mr-3 click" (click)="clear()">
          <span class="input-group-text" id="basic-addon1">
            <img [src]="eraserImage" alt="..." class=" img-fluid icon-s-size">
          </span>
        </div>
      </div>
   </div>
  </div>
  <div class="container h-75-scroll overflow-auto position-relative">
    <div class="card mx-3 bg-true-White opacity-9" *ngFor="let item of content">
      <div class="line"></div>
      <div class="mx-2 my-2">
        <div class="col-md-12 my-1">{{item.title}} . {{item.Date | date}}</div>
        <div class="col-md-12 my-1 disable-text-selection ">
          <img [src]="projectImage" alt="..." class=" img-fluid icon-s-size mr-2">
          <span class="badge badge-primary mr-1">{{item.project | enumToString}}</span>
          <!-- <img [src]="toolImage" alt="..." class=" img-fluid icon-s-size mr-2 ml-2"> -->
          <span class="mx-1">/</span>
          <span *ngFor="let item of item.tool"
          [class.badge-dark]="item.ifClick" (click)="clickTool(item)"
          class="badge badge-secondary mx-1 click">{{item.toolName}}</span>

        </div>
        <div class="col-md-12 my-1 disable-text-selection ">
          <img [src]="roleImage" alt="..." class=" img-fluid icon-s-size mr-2">
          <span *ngFor="let item of item.role" class="badge badge-warning mx-1">{{item | roleToString}}</span>
        </div>
        <!-- <div class="col-md-12 my-1">
          <img [src]="toolImage" alt="..." class=" img-fluid icon-s-size mr-2">
          <span *ngFor="let item of item.tool" class="badge badge-secondary mx-1">{{item | toolToString}}</span>
        </div> -->
        <div class="col-md-12 mt-1">
          <small>{{item.content}}</small>
        </div>
      </div>
    </div>
  </div>
   <img [src]="person" alt="..." class="rounded person-image img-fluid">
   <img [src]="person2" alt="..." class="rounded person2-image img-fluid">
   <img [src]="building" alt="..." class="rounded building-image img-fluid">
</div>
