
<!-- 提示訊息 -->
<div *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="alert.dismissible"  (onClosed)="onClosed(alert)">
    <span class="font-weight-bold mr-2"> {{alert.header}} </span> {{ alert.msg }}
  </alert>
</div>
  <!-- 提示訊息 -->
<div class="col-12">
	<div class="row ml-1 mr-1">
		<button type="submit"
				class="btn btn-custom mr-2 mb-2"
				(click)="backClicked()">
			<span class="font-weight-bold">返回 ( 目前在測試目錄 )</span> </button>
		<button type="submit"
				class="btn btn-custom mb-2"
				(click)="addNew()">
			<span class="font-weight-bold">新增目錄</span> </button>
	</div>
</div>
<div class="row ml-1 mr-1">
	<div class="col-4">
		<div class="row">
			<div class="col-12">
				<div class="aurora-orange-color font-weight-bold">
					篩選條件請點擊標題右側三條線圖示
				</div>
			</div>
			<div class="col-12">
				<ag-grid-angular class="ag-theme-alpine ag-grid-size"
								 [rowData]="rowData"
								 [columnDefs]="columnDefs"
								 [defaultColDef]="defaultColDef"
								 [animateRows]="true"
								 [autoGroupColumnDef]="autoGroupColumnDef"
								 [enableRangeSelection]="true"
								 [enableRangeSelection]="true"
								 [allowContextMenuWithControlKey]="true"
								 [frameworkComponents]="frameworkComponents"
								 (gridReady)="onGridReady($event)"
								 [rowMultiSelectWithClick]="false"
								 [suppressMenuHide]="true"
								 [gridOptions]="gridOptions"
								 [pagination]="true">
				</ag-grid-angular>
			</div>
		</div>
	</div>
	<div class="col-8">
		<div class="row">
			<div class="col-5">
				<form class="form">
					<div class="row">
						<div class="form-group col-12">
							<div class="input-group">
								<!-- <div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">搜尋</span>
								</div> -->
								<input type="text"
									   placeholder="(e.g. ADAD000S00 或 檔案傳輸系統)"
									   class="form-control"
									   name="PRG"
									   [(ngModel)]="filterWord"
          				   (keyup.enter)="filterList($event)">
								<div class="input-group-append">
									<button type="button"
											class="btn btn-secondary"
											(click)="programSearch(filterWord)">搜尋</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-12">
							<span class="font-weight-bold mr-2">顏色標示:</span>
							<button class="btn mr-2 btn-sm title"
									disabled><span class="font-weight-bold">標題</span></button>
							<button class="btn mr-2 btn-sm program"
									disabled><span class="font-weight-bold">程式</span></button>
							<button class="btn mr-2 btn-sm smart"
									disabled><span class="font-weight-bold">Smart程式</span></button>
						</div>

					</div>
				</form>
				<ul class="list-group bgc-set h-70-scroll"
					cdkDropList
					[cdkDropListData]="programListForUseStatic"
					[cdkDropListConnectedTo]="menu"
					#program="cdkDropList"
					(cdkDropListDropped)="drop($event)">
					<li class="list-group-item program-list"
						*ngFor="let item of programListForUseStatic ; let i = index"
						cdkDrag
						(click)="select(item, i)"
						[class.selected]="item.select"
						[class.title]="item.FLAG_PRG === '1'"
						[class.smart]="item.FLAG_PRG === '2'">
						<!-- {{item.PRG}} - {{item.PRG_DESC}} -->
						<div class="row d-flex align-items-center">
							<div class="col-12">
								{{item.PRG}} - {{item.PRG_DESC}}
								<!-- <span class="ml-1"><input *ngIf="item.ENV1.toString() !== '100'" type="checkbox" class="form-check-input ml-1" [(ngModel)]="item.select" name="isEnable"
																		id="exampleCheck1"></span> -->
							</div>
						</div>
					</li>

				</ul>

			</div>
			<div class="col-7">
				<form class="form">
					<div class="row"
						 *ngIf="fullMenuProgramList">
						<div class="form-group col-12">
							<button type="submit"
									class="btn mr-2 btn-custom disabled"
									disabled>
								<span class="font-weight-bold">{{saveMenuID}} - {{saveMenuName}}</span></button>
							<button *ngIf="this.fullMenuProgramList.length != 0"
									type="submit"
									class="btn btn-custom mr-2"
									(click)="edit()">
								<span class="font-weight-bold">確認修改</span></button>
							<button *ngIf="this.fullMenuProgramList.length == 0"
									disabled
									type="submit"
									class="btn btn-custom disabled mr-2"
									(click)="edit()">
								<span class="font-weight-bold">確認修改</span>
							</button>
							<button *ngIf="ifMove"
									disabled
									type="submit"
									class="btn btn-warning disabled  mr-2">
								<span class="font-weight-bold">修改中</span></button>
						</div>
					</div>
					<!-- <div class="row">
						<div class="form-group col-12">
							<span class="font-weight-bold mr-2">顏色標示:</span>
							<button class="btn mr-2 btn-sm title" disabled><span class="font-weight-bold">標題</span></button>
							<button class="btn mr-2 btn-sm program" disabled><span class="font-weight-bold">程式</span></button>
							<button class="btn mr-2 btn-sm smart" disabled><span class="font-weight-bold">Smart程式</span></button>
						</div>

					</div> -->
				</form>
				<ul class="list-group bgc-set"
					cdkDropList
					[cdkDropListData]="fullMenuProgramList"
					[cdkDropListConnectedTo]="program"
					#menu="cdkDropList"
					(cdkDropListDropped)="dropmMenu($event)">
					<li class="list-group-item my-1 mx-1 move d-felx align-items-center justify-content-center py-0 pt-1 menu-list"
						[class.notouch]="item.ENV3 == 1"
						*ngFor="let item of fullMenuProgramList; let i = index"
						cdkDrag
						[class.title]="item.FLAG_PRG === '1'"
						[class.smart]="item.FLAG_PRG === '2'">
						<div class="row d-felx align-items-center justify-content-center">
							<div class="col-1 d-felx align-items-center justify-content-center">
								<span class=" ">{{i}}</span>
							</div>
							<div class="col-11">
								<div class="row">
									<div class="col-9 d-felx align-items-end justify-content-start">
										{{item.PRG}} - {{item.PRG_DESC}}
										<span class="badge badge-warning mr-1"
											  *ngIf="item.ENV3.toString() === '0'">尚未上正式</span>
										<span class="badge badge-danger mr-1"
											  *ngIf="item.RONLY.toString() === '0' && item.ENV3.toString() === '1'">正式/顯示/可編輯</span>
										<span class="badge badge-danger mr-1"
											  *ngIf="item.RONLY.toString() === '1' && item.ENV3.toString() === '1'">正式/顯示/唯獨</span>

									</div>
									<div class="col-3 d-felx justify-content-end">
										<button type="submit"
												class="btn btn-danger btn-sm mr-1"
												(click)="editMenu(item)">
											<img [src]="imageSafeUrl"
												 width="13"
												 height="13"
												 class="d-inline-block mb-1"
												 alt="目錄程式設定"
												 loading="lazy click">
										</button>
										<button *ngIf="item.ENV3.toString() == '0'"
												type="submit"
												class="btn btn-danger btn-sm"
												(click)="delete(item)">X</button>
									</div>


										<span class="badge badge-secondary mr-1"
											  *ngIf="item.ENV1.toString() === '0' && item.RONLY1.toString() === '0'">EDU/不顯示/可編輯</span>
										<span class="badge badge-secondary mr-1"
											  *ngIf="item.ENV1.toString() === '0' && item.RONLY1.toString() === '1'">EDU/不顯示/唯獨</span>
										<span class="badge badge-dark mr-1"
											  *ngIf="item.ENV1.toString() === '1' && item.RONLY1.toString() === '0'">EDU/顯示/可編輯</span>
										<span class="badge badge-dark mr-1"
											  *ngIf="item.ENV1.toString() === '1' && item.RONLY1.toString() === '1'">EDU/顯示/唯獨</span>

										<span class="badge badge-secondary mr-1"
											  *ngIf="item.ENV2.toString() === '0' && item.RONLY2.toString() === '0'">IT/不顯示/可編輯</span>
										<span class="badge badge-secondary mr-1"
											  *ngIf="item.ENV2.toString() === '0' && item.RONLY2.toString() === '1'">IT/不顯示/唯獨</span>
										<span class="badge badge-dark mr-1"
											  *ngIf="item.ENV2.toString() === '1' && item.RONLY2.toString() === '0'">IT/顯示/可編輯</span>
										<span class="badge badge-dark mr-1"
											  *ngIf="item.ENV2.toString() === '1' && item.RONLY2.toString() === '1'">IT/顯示/唯獨</span>
									</div>
								</div>
						</div>

					</li>
				</ul>

			</div>
		</div>
	</div>
</div>
