@import '../../btag-common/main.scss';
.btn-custom{
	background-color: $erp-green;
}
.ag-grid-size{
	width: 100%;
	// min-width: 70vw;
	height: 83vh;
	font-style: 1em;
}
.h-scroll{
	height: 75vh;
	overflow: scroll;
}

.bgc-set{
	background-color: $grey;
}
.min-h{
	min-height: 2.6rem;
}
.menu-list{
	height: 70px;
	max-height: 70px;
}
.program-list{
	height: 50px;
	max-height: 50px;
}
.selected{
	background-color: $dark-grey !important;
}
.title{
	background-color: $title;
}
.program{
	background-color: $white;
}
.smart{
	background-color: $smart;
}
