@import '../main.scss';

.btn {
  font-size: 1em;
}

.circle::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 3rem;
  background-color: #f44336;
  left: 35px;
  top: 3px;
}

.green {
  background-color: #4CAF50;
}

.grey {
  background-color: #757575;
}

.full {
  width: 100%;
  height: 100%;
}

.red {
  background-color: #f44336;
}
