<nav class="navbar navbar-light bg-dark aurora-orange">
  <a class="navbar-brand ml-2">
    <img [src]="imageSafeUrl" width="30" height="30" class="d-inline-block align-top" alt="目錄程式設定" loading="lazy click"
      (click)="clickedMain()">
    <span class="name pl-2 click" (click)="clickedMain()">目錄程式設定
      <span *ngIf="checkIfCN"> CN </span>
      <span *ngIf="!checkIfCN"> TW </span>
    </span>
    <span class="badge badge-secondary  ml-1 click" (click)="notify()">教學提示</span>
    <span class="badge badge-warning ml-1 click" *ngIf="checkIfCN" (click)="changeCN()">切換TW</span>
    <span class="badge badge-warning ml-1 click" *ngIf="!checkIfCN" (click)="changeCN()">切換CN</span>
  </a>
  <span class="pr-3 text-white">ADUP020S00M
    <svg width="18" height="18" fill="currentColor" class="bi bi-info-circle ml-1 click" tooltip="下載說明文件"
      (click)="downloadFile()" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
      <path
        d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
    </svg>
  </span>
</nav>
<div class="container-fluid bg-light my-3">
  <router-outlet></router-outlet>
</div>
