@import '../../btag-common/main';
.h3 {
  letter-spacing: .3rem;
}

.font-size-auto {
  font-size: .9rem;
}
.outline-button{
  background-color: rgba($mBlue, 0.7);
  padding: 10px;
  border-radius: .3rem;
}
.outline-button-end{
  background-color: $mGrey;
  padding: 10px;
  border-radius: .3rem;
}

.info-bottom{
  position: absolute;
  bottom: 2vh;
}
.vh-80{
  height: 80vh;
}
.me-image{
  border-radius: 5rem;
  background-size: contain;
}
@media screen and (max-width: 600px) {
  .center-sm{
     display: flex;
     justify-content: center;
     align-items: center;
  }
  .dis-sm{
    width: 30px;
    height: 30px;
  }
  .dis-xs{
    width: 20px;
    height: 20px;
  }
  .font-small{
    font-size: 0.8rem;
  }
}
.alert {
  // margin-top: 2vh;
  position: absolute !important;
  width: 100%;
  right: 0;
  bottom: 0;
  z-index: 10000;
  font-size: 1rem;

  .close {
    font-size: 1rem;
  }
}
