<div class="container position-relative disable-text-selection">
  <div class="col-md-12 mt-5">
    <div class="mx-2">
      <div class="vh-80 d-block">
        <div class="col-md-12 mt-3 h3">
        延伸作品
      </div>

      <div class="row ml-2 mt-5 outline-button click center-sm" (click)="apiRegister()">
        <div class="col-md-2 col-2">
          <img [src]="rocket" alt="..." class="icon-m-size">
        </div>
        <div class="col-md-10 col-10">
          <span class="font-weight-bold">API register project</span>
        </div>
      </div>


      <div class="row ml-2 mt-4 outline-button center-sm" (click)="projectManage()">
        <div class="col-md-2 col-2">
          <img [src]="rocket" alt="..." class="icon-m-size">
        </div>
        <div class="col-md-10 col-10 click">
          <span class="font-weight-bold">案件管理系統</span>
        </div>
      </div>

       <div class="row ml-2 mt-4 outline-button center-sm">
        <div class="col-md-2 col-2 click">
          <img [src]="rocket" alt="..." class="icon-m-size">
        </div>
        <div class="col-md-10 col-10 click" (click)="covidApi()">
          <span class="font-weight-bold">目錄設定系統</span>
        </div>
      </div>
       <div class="row ml-2 mt-4 outline-button center-sm">
        <div class="col-md-2 col-2 click">
          <img [src]="rocket" alt="..." class="icon-m-size">
        </div>
        <div class="col-md-10 col-10 click" (click)="publicDisease()">
          <span class="font-weight-bold">流行病與企業影響</span>
        </div>
      </div>

        <div class="row ml-2 mt-4 outline-button center-sm">
        <div class="col-md-2 col-2 click">
          <img [src]="rocket" alt="..." class="icon-m-size">
        </div>
        <div class="col-md-10 col-10 col-10 click" (click)="covidApi()">
          <span class="font-weight-bold">新冠肺炎資料串接</span>
        </div>
      </div>
      </div>

       <div class="row ml-2 mt-3 outline-button-end center-sm">
        <div class="col click"> <img [src]="github" alt="..."
          tooltip="Github"
          (click)="gitHub()"
          class="icon-size mb-1 click dis-sm"></div>
        <!-- <div class="col click"> <img [src]="behance" alt="..."
          tooltip="Behance"
          (click)="beHance()"
          class="icon-size click dis-sm"></div> -->
        <div class="col click">  <img [src]="support" alt="..."
          tooltip="支持我"
          (click)="supportMe()"
          class="icon-size click dis-sm"></div>
        <div class="col click"> <img [src]="me" alt="..."
          tooltip="認識我"
          (click)="aboutMe()"
          class="icon-size me-image click dis-sm"></div>
      </div>
  </div>
</div>

<!-- 提示訊息 -->
<div *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="alert.dismissible"  (onClosed)="onClosed(alert)">
    <span class="font-weight-bold mr-2"> {{alert.header}} </span> {{ alert.msg }}
  </alert>
</div>
  <!-- 提示訊息 -->
