
@import '../main.scss';
@import '../../btag-common/main.scss';

.bg-blue {
  background-color: #1E88E5 !important;
}

body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 100%;
	font-family: 'Noto Sans TC', sans-serif;
}
.name {
	color: $main-white;
	font-weight: bold;
}
.select {
	height: 30px;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-right: 10px !important;
}
.select-btn {
	height: 30px;
	padding: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
	font-weight: bold;
}
.option {
	height: 30px;
}
.select-label {
	color: $main-white;
	padding-right: 10px;
	font-weight: bold;
}
.navbar {
	min-height: 5vh;
}
.sticky-home {
  position: sticky !important;
  bottom: 2vh !important;
}
