<div class="container">
  <div class="col-md-12 mt-5">
    <div class="mx-3 text-center disable-text-selection">
      <img [src]="image" alt="..." class="rounded info-image img-fluid">
      <div class="col-md-12 mt-3 h3">
        ALEC WANG
      </div>
      <div class="row ml-2">
        <div class="col-8 mt-3 text-left">
          <div class="">震旦集團 研發部</div>
          <div class="">軟體工程師</div>
        </div>
        <div class="col-4 mt-3">
          <img [src]="bookmark" alt="..." class="bookmark-image mt-md-1">
        </div>
      </div>
    </div>
    <div class="mx-1 mt-4">
      <div class="ml-4">
        <h4 class="disable-text-selection">簡介</h4>
        <div class="mt-2 font-size-auto">
          <div class="mt-2 disable-text-selection">交通大學分子醫學與生物工程碩士</div>
          <div class="mt-2 disable-text-selection">碩士主修：高通量定序分析，使用 R 與 Python 分析腸道微生物箘相，透過分類器及序列比對建立出預測模型</div>
        </div>
         <h4 class="mt-3 disable-text-selection">相關連結</h4>
         <div class="mt-2 font-size-auto">
           <div class="mt-2 click" [tooltip]="page1">
             <div class="">
               <img [src]="book" alt="..." class=" img-fluid icon-s-size mr-2">
               <span class="mr-2">Nucleic Acids Res</span>
              <span class="badge badge-success">IF: 11.501</span>
             </div>
              <div class="">
                 <!-- <a [href]="page1" target="_blank">A resource for experimentally validated microRNA-target interactions </a> -->
                 <a [href]="page1" target="_blank">miRNA-目標基因資料庫 </a>
              </div>

           </div>
           <div class="mt-2 click" [tooltip]="page2">
             <div class="">
               <img [src]="book" alt="..." class=" img-fluid icon-s-size mr-2">
               <span class="mr-2">NCTU</span>
              <!-- <span class="badge badge-success">IF: 11.501</span> -->
             </div>
             <div class="">
               <a [href]="page2" target="_blank">慢性腎臟病預測模型</a>
             </div>
           </div>
         </div>
      </div>
    </div>

  </div>
</div>
