@import '../../btag-common/main.scss';
.info-image{
  width: 200px;
  height: 200px;
}
.bookmark-image{
  width: 40px;
  height: 40px;
}
.h3 {
  letter-spacing: .3rem;
}
.font-size-auto{
  font-size: .9rem;
}
