
<div class="container-fluid">
	<div class="col-12 mt-3">
		<tabset #staticTabs>
			<tab [active]=""
				 customClass="customClass">
				<ng-template tabHeading>
					<img [src]="imageUrlPurchase"
						 width="25"
						 height="25"
						 class="d-inline-block align-top click mr-1"
						 alt="案件管理"
						 loading="lazy">
					<span class="font-weight-bold">採購專案
            <span class="badge badge-secondary mr-1"> 10 進行中</span>
						<span class="badge badge-secondary mr-1" > 2本月完成</span>
						<span class="badge badge-secondary mr-1"> 5 完成</span>

					</span>
					<button type="button"
							(click)="addNew('B')"
							class="btn btn-outline-success select-btn ml-2 bgc-white">
						新增
					</button>
				</ng-template>

				<div class="container-fluid d-flex flex-row flex-wrap">
					<div class="card mr-2 my-3" *ngFor="let item of caseList"
						 [class.active]="item.active">
						<div class="card-body">
							<h5 class="card-title text-center">{{item.caseName}}</h5>
							<h6 class="card-subtitle mb-2 text-muted d-flex grey-subtitle"></h6>
							<ul class="list-group">
								<li class="list-group-item">
									<ul class="list-group list-group-horizontal horizontal-width">
										<li class="list-group-item list-name">公司名稱</li>
										<li class="list-group-item list-content">{{item.custComp}}</li>
									</ul>
								</li>
								<li class="list-group-item">
									<ul class="list-group list-group-horizontal horizontal-width">
										<li class="list-group-item list-name">顧客窗口</li>
										<li class="list-group-item list-content">{{item.custName}}</li>
									</ul>
								</li>
								<li class="list-group-item">
									<ul class="list-group list-group-horizontal horizontal-width">
										<li class="list-group-item list-name">類型</li>
										<li class="list-group-item list-content">{{item.caseType | caseType}}</li>
									</ul>
								</li>
								<li class="list-group-item">
									<ul class="list-group list-group-horizontal horizontal-width">
										<li class="list-group-item list-name">負責人</li>
										<li class="list-group-item list-content">{{item.empName}}</li>
									</ul>
								</li>
								<li class="list-group-item">
									<ul class="list-group list-group-horizontal horizontal-width">
										<li class="list-group-item list-name">起始日</li>
										<li class="list-group-item list-content">{{item.startDate | date}}</li>
									</ul>
								</li>
							</ul>
							<button type="button"
									class="btn btn-primary btn-block mt-2 btn-100"
									(click)="goToProject(item.caseId)">前往案件</button>
						</div>
					</div>

				</div>
			</tab>
			<tab
				 customClass="customClass">
				<ng-template tabHeading>
					<div>
						<img [src]="imageUrlFix"
							 width="25"
							 height="25"
							 class="d-inline-block align-top click mr-1 "
							 alt="案件管理"
							 loading="lazy">
						<span class="font-weight-bold">報修專案
							<span class="badge badge-secondary mr-1">0 建單</span>
							<span class="badge badge-secondary mr-1" >0 進行中</span>
							<span class="badge badge-secondary mr-1">10 本月完成</span>
							<span class="badge badge-secondary mr-1">20 完成</span>

						</span>
					</div>
				</ng-template>


				<div class="container-fluid d-flex flex-row flex-wrap">
					目前無報修案件

				</div>

			</tab>
		</tabset>
	</div>
</div>
